<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=supdate;AccountKey=Yt4v0IKUyOusduf601pQP9Hckd8DuuyKlOrmIdY9W+J3yRGbJHi+JG4EvcxaJB7cxeCoYe12vs8cCwfcefi16g==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=supdate;AccountKey=Yt4v0IKUyOusduf601pQP9Hckd8DuuyKlOrmIdY9W+J3yRGbJHi+JG4EvcxaJB7cxeCoYe12vs8cCwfcefi16g==" />

    <add name="Supdate.Database.Dev" connectionString="Server=tcp:supdate.database.windows.net,1433;Database=dev-supdate;User ID=webapp@supdate;Password=!5upd4te;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.Prod" connectionString="Server=tcp:supdate.database.windows.net,1433;Database=prod-supdate;User ID=prod-webapp@supdate;Password=######################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.JP" connectionString="Data Source=ALGO\SQLEXPRESS;;Initial Catalog=Supdate.Local;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Supdate.Database.Chai" connectionString="Data Source=NEXUS-MAC;Initial Catalog=Supdate.Local;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Supdate.Database.DJ" connectionString="Data Source=WIN-MKV14NHN8v6\SQLEXPRESS;Initial Catalog=Supdate.Local;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

    <add name="Supdate.Storage" connectionString="DefaultEndpointsProtocol=https;AccountName=supdate;AccountKey=Yt4v0IKUyOusduf601pQP9Hckd8DuuyKlOrmIdY9W+J3yRGbJHi+JG4EvcxaJB7cxeCoYe12vs8cCwfcefi16g==" />
  </connectionStrings>

  <appSettings>
    <!-- <add key="ConnectionStringName" value="Supdate.Database.JP" /> -->
    <add key="ConnectionStringName" value="Supdate.Database.Chai" />
    <add key="StorageConnectionStringName" value="Supdate.Storage" />

    <add key="NoreplyEmailAddress" value="noreply@supdate.com" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.3.0" newVersion="2.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
