@model Supdate.Model.ReportAttachmentList
@{
  if (ViewBag.AttachmentsColWidth == null)
  {
    ViewBag.AttachmentsColWidth = 12;
  }
}
@using (Html.BeginForm("AttachFile", "Reports",
  new { areaUniqueId = Model.AreaUniqueId, month = Model.ReportDate.Month, year = Model.ReportDate.Year },
  FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class = "ajax-form", id = "attachment-form" }))
{
  <a name="attachments"></a>
  <div class="col-lg-@ViewBag.AttachmentsColWidth">
    <section class="panel">
      <header class="panel-heading">
        Attachments
      </header>
      <div class="panel-body" data-match-neighbour-height="true">
        @{
  var tableDisplay = (Model.AttachmentList.Any()) ? "block" : "none";
        }
        <table class="table table-striped" id="attachments-table" style="display: @tableDisplay">
          <tbody>
            @if (Model.AttachmentList.Any())
            {
              foreach (var attachment in Model.AttachmentList)
              {
                @Html.Partial("_Attachment_Row", attachment)
              }
            }
          </tbody>
        </table>
        <input type="file" name="newAttachment" id="newAttachment" />
        <div style="margin-top:12px;display:none;" id="file-description-container">
          <div class="form-group">
            <textarea class="form-control" cols="20" id="fileDescription" name="fileDescription" rows="3" placeholder="Enter a note or description to accompany this file (optional)"></textarea>
          </div>
          <div style="display:none;" class="form-group" id="upload-btn">
            <button type="submit" data-success-callback="attachment_cb" class="btn btn-save ladda-button ajax-submit" data-style="expand-left"><span class="ladda-label"><i class="fa fa-upload"></i> Upload</span></button>
          </div>
        </div>
      </div>

    </section>
  </div>
}
