@{
  Layout = "~/Views/Shared/_PreAuthLayout.cshtml";
  ViewBag.Title = " Not Authorised";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading panel-heading-main">
      Not Authorised
      </header>
      <div class="panel-body">
        <p>You are not authorised to view this report.</p>
        <p>If you have clicked a link that was emailed to you then this is likely due to a recent security upgrade.</p>
        <p>Ask for the email to be re-sent to you and the new link provided will be valid.</p>
        <div><a href="javascript:history.back(0);">&lt; &lt; Go Back</a></div>
      </div>
    </section>
  </div>
</div>
