@{
  ViewBag.Title = "Premium Features";
}

<section class="panel">
  <header class="panel-heading panel-heading-main">
    Premium Features
  </header>
  <div class="panel-body">
    <p>We're now starting to release features that may become part of a paid-for, premium offering in the future.</p>
    <p>For now you can use these features as much as you like.</p>
    <p>If and when we decide to charge for them we'll be sure to give you plenty of notice and let you decide whether or not you want to carry on using them.</p>
    <p>Whatever you decide, you won't get charged anything without explicitly saying you want to.</p>
    <p>
      <strong>
        We don't want you to be taken by surprise by these changes.<br />
        So all features that are potentially going to be charged for will be highlighted so that you are aware.
      </strong>
    </p>
    <p>
      If you have any questions about this, then do <a href="http://supdate.com/contact/" target="_blank" class="link">get in touch</a>.
    </p>
  </div>
  <div class="panel-footer">
    <div class="pull-right">
      <a class="btn btn-default" href="javascript:history.back()"><i class="fa fa-chevron-circle-right"></i> &nbsp; Continue</a>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
