<div class="panel panel-features">
  <header class="panel-heading panel-heading-main">
    Premium Features
  </header>
  <div class="panel-body" data-match-neighbour-height="true">
    <div class="col-xs-6 col-sm-6 col-md-12">
      <p class="text-center">
        <a href="http://supdate.com/features/collaboration" target="_supdate_collaboration">
          <img src="/Assets/feature-team.png" height="90">
        </a>
      </p>

      <h3 class="text-center">Collaboration</h3>
      <p>
        Don't do all the hard work yourself! Invite your team and have their help. <a href="http://supdate.com/features/collaboration" class="link" target="_supdate_collaboration">Learn more</a>
      </p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12">
      <hr class="hidden-xs hidden-sm" />
      <p class="text-center">
        <a href="http://supdate.com/features/discussion" target="_supdate_discussion">
          <img src="/Assets/feature-discuss.png" height="90" />
        </a>
      </p>
      <h3 class="text-center">Discussion</h3>
      <p>
        Have focussed discussions with your recipients, embeded directly in your reports. <a href="http://supdate.com/features/discussion" class="link" target="_supdate_discussion">Learn more</a>
      </p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12">
      <hr class="hidden-xs hidden-sm" />
      <h3 class="text-center">Data Sources</h3>
      <p>
        Automatically retrieve values for your metrics. <a href="http://supdate.com/features/datasources" class="link" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
</div>
