@model Supdate.Model.Subscription
@{
  ViewBag.Title = "Subscription Started";
}
<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading panel-heading-main">
        @ViewBag.Title
      </header>
      <div class="panel-body">
        <div class="text-center is-subscribed">
          <i class="fa fa-check"></i> You are subscribed.
        </div>
        <p>Your subscription has now been started!</p>
        @if (Model.IsActive())
        {
          <p>You will automatically be billed in @Model.DaysLeft() days.</p>
        }
        else
        {
          <p>It may take a couple of minutes for access to the premium features to be enabled.</p>
          <p>
            In the unlikley event that this hasn't happened within an hour then please <a href="@Url.Action("Index", "Help")" class="link">do get in touch</a>.
          </p>
        }
      </div>
      <div class="panel-footer text-center">
        <a class="btn btn-default" href="@Url.Action("Index","Home")">Continue</a>
      </div>
    </section>
  </div>
</div>
