<p style="color: #777; background: #eeeeee; padding: 10px 20px; box-shadow: none; margin: 20px 10px 20px 0;  display: inline-block; border: 1px solid #e2e4d3; border-radius: 4px; font-size: 12px;">
  This is a preview of the email your recipients will receive.<br />
  You will need to be logged in to your account to view the report linked to below.
  This wont be neccesary for your recipients.
</p>
