<p style="margin-bottom: 10px;">
  <table style="width: 100%; border: none;">
    <tr>
      <td width="40"><img src="{0}assets/discussion-marker.png" width="32"  height="35" alt="+"/></td>
      <td>
        Look out for this symbol on the report.<br/>
        You can click it to view/add comments or ask questions.
      </td>
    </tr>
  </table>

