@model dynamic
@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>supdate thoughts?</title>
  <style>
    /* -------------------------------------
        GLOBAL
    ------------------------------------- */
    * {
      margin: 0;
      padding: 0;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 100%;
      line-height: 1.6;
    }

    img {
      max-width: 100%;
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
    }
  </style>
</head>
<body>
  Hi,
  <p style="margin-top: 10px;">
    I notice you signed up for Supdate recently. How are you finding it? Does it do what you thought it would? Is there anything we can add/change to make it more suitable for you?
  </p>
  <p style="margin-top: 10px;">
    This isn't an automated email. Although actually it might be a good idea to send this to everyone as an automated email a few days after they sign up. I might even leave this line in. That would really confuse things!
  </p>
  <p style="margin-top: 10px;">
    Regards,
    <br />
    Duane
  </p>
</body>
</html>
