@{
  Layout = "~/Views/Shared/_PreAuthLayout.cshtml";
  ViewBag.Title = "Confirm Email";
}
<form action="" class="form-signin" method="post" role="form" novalidate="novalidate">
  <h2 class="form-signin-heading">Nearly there...</h2>
  <div class="login-wrap">
    <div class="form-group">
      You're just one step away from using Supdate!<br /><br />
      We've sent you an email to confirm your address.<br /><br />
      Check your email inbox for instructions.
    </div>
      @*<small>
        <p class="text-danger">
          For DEMO only: You can click <a href="@ViewBag.Link">this link</a> to confirm the email.
        </p>
      </small>*@
    </div>
</form>
