<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Supdate.Database.Dev" connectionString="Server=tcp:supdate.database.windows.net,1433;Database=dev-supdate;User ID=webapp@supdate;Password=!5upd4te;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.Dev-CC" connectionString="Server=tcp:cc-supdate.database.windows.net,1433;Database=dev-supdate;User ID=dev-webapp;Password=SmKlQFlbPytCJcqFCjh3;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.Prod" connectionString="Server=tcp:supdate.database.windows.net,1433;Database=prod-supdate;User ID=prod-webapp@supdate;Password=######################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.JP" connectionString="Data Source=ALGO\SQLEXPRESS;;Initial Catalog=Supdate.Local;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Supdate.Database.Chai" connectionString="Data Source=NEXUS-MAC;Initial Catalog=Supdate.Local;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Supdate.Database.DJ" connectionString="Data Source=WIN-MKV14NHN8v6\SQLEXPRESS;Initial Catalog=Supdate.Local;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

    <add name="Supdate.Storage" connectionString="DefaultEndpointsProtocol=https;AccountName=supdate;AccountKey=######################" />
  </connectionStrings>

  <appSettings>
    <!-- <add key="ConnectionStringName" value="Supdate.Database.JP" /> -->
    <add key="ConnectionStringName" value="Supdate.Database.Chai" />
    <add key="StorageConnectionStringName" value="Supdate.Storage" />

    <add key="MailChimpQueue" value="local-mailchimp" />

    <add key="MailChimpApiKey" value="######################" />
    <add key="MailChimpGroupNames" value="Monthly Reminders|Software Updates|News" />
    <add key="MailChimpListId" value="######################" />
    <add key="MailChimpGroupId" value="######################" />
  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
