@using Supdate.Web.App.Models
@model TeamViewModel
@{
  ViewBag.Title = "Data Sources";
}

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading panel-heading-main">
        Data Sources
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8" data-match-neighbour-height="true">
            <h2 class="text-heading">Why use Data Sources?</h2>
            <p>
              We're all about making your reports really easy to produce.
            </p>
            <p>
             Having to log in to multiple other systems in order to get numbers for your report just isn't fun.
            </p>
            <p>
              Data Sources are the solution.</p>
            <p>
              You connect your accounts, such as Google Analytics, and we automatically retrieve all the important numbers for you at a click of a button.
            </p>
          </div>
          <div class="hidden-xs hidden-sm col-md-4 text-center" data-match-neighbour-height="true">
            <img src="/Assets/jigsaw-piece.jpg" class="max-h-180" data-vertical-center="true">
          </div>
        </div>
        <div class="row">
          <div class="hidden-xs hidden-sm col-md-4 text-center" data-match-neighbour-height="true">
            <img src="/Assets/cloud-arrows.jpg" class="max-h-180" data-vertical-center="true">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8" data-match-neighbour-height="true">
            <h2 class="text-heading">How It Works</h2>
            <p>
              You can access your Data Sources from the menu at the top-right of the page. Once you've connected your Data Sources you need to tell us which Metrics they relate to.
            </p>
            <p>
            Go to the <a href="@Url.Action("Index","Metrics")" class="link">Metrics section</a> and edit or add a Metric. At the bottom of the form you'll see the option to select which, if any, Data Source we should pull the values from.
            <p>
            <p>
              When you next complete a Report and go to the part where you enter Metric values you will see a button labelled "Import". Just click that and we'll do the rest for you.
            </p>
            <p>
             You'll instantly see the values we've collected and you'll have the opportunity to approve them before they're saved.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8" data-match-neighbour-height="true">
            <h2 class="text-heading">What About Historic Data?</h2>
            <p>
             We've got that covered too.
            </p>
            <p>
              On the main Metrics page you'll see a button lablled "Edit Metric Data". Click that and you'll first see your Targets.</p>
            <p>
              Click the "Actuals" button and you're now editing the actul Metric values.
            </p>
            <p>
              Click the "Import" button and we'll fill in all of the values for the whole year that you're editing. </p>

          </div>
          <div class="hidden-xs hidden-sm col-md-4 text-center" data-match-neighbour-height="true">
            <img src="/Assets/calendar.png" class="max-h-180" data-vertical-center="true">
          </div>
        </div>
      </div>
      <div class="panel-footer text-center">
        <a class="btn btn-save" href="@Url.Action("Index","DataSources")">Get Started<span class="hidden-xs"> with Data Sources</span></a>
      </div>
    </section>
  </div>
</div>
@section scripts{
  <script>
    $('#teamMemberInvitation').on('shown.bs.modal', function () {
      $('#EmailAddress').val("");
      $('#EmailAddress').focus();
    });


  </script>
}
