<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add xdt:Transform="Insert" name="Exceptional" connectionString="Server=tcp:cc-supdate.database.windows.net,1433;Database=prod-exceptional;User ID=prod-webapp;Password=######################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>

  <appSettings>
    <add key="ConnectionStringName" value="Supdate.Database.Prod-CC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageConnectionStringName" value="Supdate.Storage-CC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CacheConnectionStringName" value="Supdate.RedisCache.Prod-CC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="BaseAppUrl" value="https://app.supdate.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogoStorageContainer" value="prod-company-logos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportAttachmentStorageContainer" value="prod-report-attachments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="MailChimpQueue" value="prod-mailchimp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GenericEmailQueue" value="prod-generic-emails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="StripeApiKey" value="######################" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StripePublicKey" value="######################" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StripePlanId" value="######################" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <Exceptional applicationName="Supdate.Web.App">
    <ErrorStore type="SQL" connectionStringName="Exceptional" xdt:Transform="Replace" />
  </Exceptional>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <sessionState>
      <providers>
        <add connectionString="Supdate.RedisCache.Prod-CC" xdt:Transform="SetAttributes(connectionString)" />
      </providers>
    </sessionState>
    <!--<customErrors mode="On" defaultRedirect="~/Home/Error" xdt:Transform="Replace" />-->
  </system.web>

  <system.webServer>
    <!-- <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirect to HTTPS">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{URL}" pattern="/$" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite> -->
  </system.webServer>

</configuration>
