<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
  </configSections>

  <connectionStrings>
    <add name="###########################" connectionString="Server=tcp:###########################;Database=###########################;User ID=###########################;Password=###########################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="###########################" connectionString="Server=tcp:###########################;Database=###########################;User ID=###########################;Password=###########################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    
    <add name="###########################" connectionString="Server=###########################;Database=prod-supdate;User ID=###########################;Password=###########################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="###########################" connectionString="Server=###########################;Database=prod-supdate;User ID=###########################;Password=###########################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    
    <add name="###########################" connectionString="Data Source=###########################;;Initial Catalog=###########################;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="###########################" connectionString="Data Source=###########################;Initial Catalog=###########################.Local.2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="###########################" connectionString="Data Source=l###########################;Initial Catalog=###########################.Local;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

    <add name="Supdate.Storage" connectionString="DefaultEndpointsProtocol=https;AccountName=###########################=###########################" />
    <add name="Supdate.Storage-CC" connectionString="DefaultEndpointsProtocol=https;AccountName=REDACTED;AccountKey=###########################" />

    <add name="###########################.Local" connectionString="###########################,password=##############=,ssl=True,abortConnect=False" />
    <add name="###########################.Dev" connectionString="###########################,password=#####################=,ssl=True,abortConnect=False" />
    <add name="###########################.Dev-CC" connectionString="###########################,password=###########################=,ssl=True,abortConnect=False" />
    <add name="###########################.Prod" connectionString="###########################,password=#######################=,ssl=True,abortConnect=False" />
    <add name="###########################.Prod-CC" connectionString="###########################,password=###########################=,ssl=True,abortConnect=False" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ConnectionStringName" value="Supdate.Database.Chai" />
    <add key="StorageConnectionStringName" value="Supdate.Storage" />
    <add key="CacheConnectionStringName" value="Supdate.RedisCache.Local" />

    <add key="LogoStorageContainer" value="local-company-logos" />
    <add key="ReportAttachmentStorageContainer" value="local-report-attachments" />
    <add key="MailChimpQueue" value="local-mailchimp" />
    <add key="GenericEmailQueue" value="dev-generic-emails" />

    <add key="SendGridApiKey" value="###########################" />
    <add key="StripeApiKey" value="###########################" />
    <add key="StripePublicKey" value="###########################" />
    <add key="StripePlanId" value="supdate_paid" />

    <add key="AuthCookieTimeout" value="30" />
    <add key="NoreplyEmailAddress" value="noreply@supdate.com" />
    <add key="BaseAppUrl" value="http://127.0.0.1:54422/" />
    <add key="DefaultLogoUrl" value="/Assets/company-icon-default.png" />

    <add key="FreeAccessToPremiumFeatures" value="true" />
  </appSettings>

  <Exceptional applicationName="Supdate.Web.App">
    <LogFilters>
      <Form>
        <add name="password" replaceWith="********" />
      </Form>
      <Cookies>
        <add name="authToken" replaceWith="**we don't record tokens man!**" />
      </Cookies>
    </LogFilters>
    <ErrorStore type="Memory" />
  </Exceptional>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="GravatarHelper" />
        <add namespace="GravatarHelper.Extensions" />
      </namespaces>
    </pages>

    <sessionState mode="Custom" customProvider="CustomSessionStateStore">
      <providers>
        <!-- For more details check https://github.com/Azure/aspnet-redis-providers/wiki/Configuration -->
        <add name="CustomSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="Supdate.RedisCache.Local" applicationName="CacheConnectionStringName" databaseId="1" />
      </providers>
    </sessionState>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <add name="Exceptional" path="3b16938d-8df4-4645-905a-204fae493a9e.axd" verb="POST,GET,HEAD" type="StackExchange.Exceptional.HandlerFactory, StackExchange.Exceptional" preCondition="integratedMode" />
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>

    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
