<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=supdate;AccountKey=###########################" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=supdate;AccountKey=###########################" />

    <add name="Supdate.Database.Dev" connectionString="Server=###########################;Database=###########################;User ID=###########################;Password=########################### True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.Dev-CC" connectionString="Server=###########################;Database=dev-supdate;User ID=###########################;Password=###########################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.Prod" connectionString="Server=###########################;Database=prod-supdate;User ID=###########################;Password=###########################;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="Supdate.Database.JP" connectionString="Data Source=###########################;;Initial Catalog=Supdate.Local;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Supdate.Database.Chai" connectionString="Data Source=###########################;Initial Catalog=Supdate.Local;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Supdate.Database.DJ" connectionString="Data Source=###########################;Initial Catalog=Supdate.Local;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />

    <add name="Supdate.Storage" connectionString="DefaultEndpointsProtocol=https;AccountName=supdate;AccountKey=###########################" />
    <add name="Supdate.Storage-CC" connectionString="DefaultEndpointsProtocol=https;AccountName=###########################;AccountKey=###########################;EndpointSuffix=core.windows.net" />
  </connectionStrings>

  <appSettings>
    <!-- <add key="ConnectionStringName" value="Supdate.Database.JP" /> -->
    <add key="ConnectionStringName" value="Supdate.Database.DJ" />
    <add key="StorageConnectionStringName" value="Supdate.Storage" />

    <add key="LogoStorageContainer" value="local-company-logos" />
    <add key="GenericEmailQueue" value="dev-generic-emails" />

    <add key="SendGridApiKey" value="###########################" />

    <add key="AuthCookieTimeout" value="30" />
    <add key="NoreplyEmailAddress" value="noreply@supdate.com" />
    <add key="BaseAppUrl" value="http://localhost:54422/" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
