<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=###########################;AccountKey=###########################;EndpointSuffix=core.windows.net" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=###########################;AccountKey=###########################;EndpointSuffix=core.windows.net" />
  </connectionStrings>

  <appSettings>
    <add key="ConnectionStringName" value="Supdate.Database.Dev-CC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageConnectionStringName" value="Supdate.Storage-CC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="BaseAppUrl" value="https://dev-cc-supdate.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogoStorageContainer" value="dev-company-logos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GenericEmailQueue" value="dev-generic-emails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
</configuration>
