@{
  ViewBag.Title = "Help";
}
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <section class="panel">
      <header class="panel-heading">
        Questions?
      </header>
      <div class="panel-body">
        If you have any questions or need any help with any aspect of the software, please email <a href="mailto:hello@supdate.com" class="link">hello@supdate.com</a>.
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <a class="btn btn-default" href="mailto:hello@supdate.com"><i class="fa fa-envelope-o"></i> Email Us</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
  </div>
  <div class="col-sm-6 col-xs-12">
    <section class="panel">
      <header class="panel-heading">
        Feedback and Suggestions
      </header>
      <div class="panel-body">
        We really need your help to improve the software to make it even more useful to you. Please don't hesistate to email <a href="mailto:hello@supdate.com" class="link">hello@supdate.com</a> with your thoughts.
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <a class="btn btn-default" href="mailto:hello@supdate.com" ><i class="fa fa-envelope-o"></i>  Email Us</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
  </div>
</div>
