<div class="col-sm-2 hidden-xs"></div>
<div class="col-sm-8 col-xs-12">
  <div class="alert alert-block alert-danger fade in">
    <strong>No Reporting Areas</strong>
    <p>You do not have access to any Reporting Areas.</p>
    <p>Ask the account owner to give you access to at least one area otherwise there's nothing you can do!</p>
  </div>
</div>
<div class="col-sm-2 hidden-xs"></div>

<script>
  var btns = document.getElementsByClassName('btn-add-new'), i;
  for (var i = 0; i < btns.length; i++) {
    btns[i].style.display = 'none';
  }
</script>
