@using Supdate.Model

@{
    Layout = null;
}

  <span class="premium-banner-inline">
    <strong>Premium Feature</strong>
    <span>
      This is a premium feature that you are using as a free trial. <a class="link check-form-change" href="@Url.Action("Index", "Billing")">Learn more</a>.
    </span>
  </span>
