@{
  Layout = "_PreAuthLayout.cshtml";
  ViewBag.Title = "Uh oh!";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading panel-heading-main">
        Uh oh! (404 Error)
      </header>
      <div class="panel-body">
        <div class="form-group pre-wrap">Hmm. Awkward.</div>
        <p>Sorry, but the report you are looking for was not found. Please contact the sender of the report.</p>
        <div><a href="javascript:history.back(0);">&lt; &lt; Go Back</a></div>
      </div>
    </section>
  </div>
</div>
