<div id="wizard-areas">
  <div class="panel-body">
    <div class="wizard-guidance">
      First we need to set up the areas of your business that you want to report on.<br />
      Enter your area names below, seperated by commas.
    </div>
    <div class="col-lg-12">
      <form>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="areas-to-create" class="sr-only">Area Names</label>
              <select multiple="multiple" style="visibility: hidden;" class="form-control wizard-tagger" name="areas-to-create" id="areas-to-create"></select>
            </div>
          </div>
          <div class="col-sm-12">
            <p class="help-block" data-target="areas-to-create">
              <em>Maybe add some of these common areas?</em>
            </p>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">Marketing</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">Sales</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">Finance</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">Product</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">Recruitment</button>
            <p class="help-block" data-target="areas-to-create">
              <em>Or you could try this kind of thing:</em>
            </p>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">KPIs</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">Key Achievements</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">What Went Well</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">What Didn't Go Well</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">What We're Focussing On Now</button>
            <button type="button" class="btn btn-sm btn-default tag-adder" data-target="areas-to-create">How You Can Help</button>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>
