<input type="hidden" id="wizard-step" value="0" />
<div class="pull-right">
  <button class="btn btn-primary ladda-button" data-style="expand-left" type="button" id="wizard-next"><span class="ladda-label">Next <i class="fa fa-caret-right margin-l-12"></i></span></button>
</div>
<div class="wizard-progress">
  <div class="progress progress-xs">
    <div id="wizard-progress-bar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">0% Complete</span>
    </div>
  </div>
</div>

