<div class="panel-body" id="wizard-metric-names" style="display: none;">
  <div class="col-lg-12">
    <div class="wizard-guidance">
      Great! Now let's set up few Metrics.<br />Metrics are just numbers that you want to monitor.
    </div>
    <form>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="metrics-to-create" class="sr-only">Metric Names</label>
            <select multiple="multiple" style="visibility: hidden;" class="form-control wizard-tagger" name="metrics-to-create" id="metrics-to-create"></select>
          </div>
        </div>
        <div class="col-sm-12">
          <p class="help-block" data-target="metrics-to-create">
            <em>Maybe add some of these common metrics?</em>
          </p>
          <button type="button" class="btn btn-sm btn-default tag-adder" data-target="metrics-to-create">Users</button>
          <button type="button" class="btn btn-sm btn-default tag-adder" data-target="metrics-to-create">Revenue</button>
          <button type="button" class="btn btn-sm btn-default tag-adder" data-target="metrics-to-create">Cash</button>
          <button type="button" class="btn btn-sm btn-default tag-adder" data-target="metrics-to-create">Website Visits</button>
          <button type="button" class="btn btn-sm btn-default tag-adder" data-target="metrics-to-create">New Customers</button>
          <button type="button" class="btn btn-sm btn-default tag-adder" data-target="metrics-to-create">New Leads</button>
          <button type="button" class="btn btn-sm btn-default tag-adder" data-target="metrics-to-create">Trial Conversions</button>
        </div>
      </div>
    </form>
  </div>
</div>
