<div class="panel-body" id="wizard-complete" style="display: none;">
  <div class="col-lg-12">
    <div class="wizard-section">
      That's the basics all done.<br/><br/>
      If you want to you
      can fine-tune <a href="@Url.Action("Index", "Metrics")" class="link">your metrics</a> and perhaps add some targets.
      Or you can <a href="@Url.Action("Index", "Goals")" class="link">create some goals</a> to report on. Or perhaps <a href="@Url.Action("Index", "Settings")" class="link">upload a logo</a>.
      <br/><br/>
      None of that is essential though, so if you want to you can dive straight in and create your first report.
      <div class="clearfix"></div>
      <div class="blank-slate" style="margin-bottom:24px;">
        <div class="text-center">
          <a class="btn-lg btn-blank-slate" href="@Url.Action("Index", "Reports")">Go to Reports</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
