<div class="panel-body" id="wizard-recipients" style="display: none;">
  <div class="col-lg-12">
    <div class="wizard-guidance">
      The final step!<br />
      Enter the email addresses of the people you'd like to send your reports to.
    </div>
    <form>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="recipients-to-create" class="sr-only">Recipient Email Addresses</label>
            <select multiple="multiple" style="visibility: hidden;" class="form-control wizard-tagger wizard-tagger-email" name="recipients-to-create" id="recipients-to-create"></select>
          </div>
        </div>
        <div class="col-md-12">
          <p class="help-block" data-target="metrics-to-create">
            <em>Don't want to add anyone yet? You can <a href="#" class="link wizard-skip">skip this step</a> if you want to</em>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
