<div class="panel-body" id="wizard-team" style="display: none;">
  <div class="col-lg-12">
    <div class="wizard-guidance">
      Now invite some of your team to contribute to your reporting.<br />
      The people you invite wont be able to change your settings, they can only access and update reports.
    </div>
    <form>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="team-members-to-create" class="sr-only">Email Addresses</label>
            <select multiple="multiple" style="visibility: hidden;" class="form-control wizard-tagger wizard-tagger-email" name="team-members-to-create" id="team-members-to-create"></select>
            <p class="help-block" data-target="metrics-to-create">
              <em>Nobody to invite? You can <a href="#" class="link wizard-skip">skip this step</a> if you want to</em>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="invite-message">Invite Message</label>
            <textarea class="form-control" rows="6" name="invite-message" id="invite-message">I've given you access to our reporting system so that you can provide updates for your department.</textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
